<section>
    <div class="row">
        <div class="col m12">
            {% for carousel in __SELF__.currentPageCarouselList %}
                <div class="carousel-container">
                    <div class="carousel {{ (carousel.is_slider) ? 'carousel-slider' : '' }}">
                        {% if carousel.fixed_item %}
                            <div class="carousel-fixed-item center">
                                {{ carousel.fixed_item|raw }}
                            </div>
                        {% endif %}
                        {% for carouselItem in carousel.carouselItems %}
                            <a class="carousel-item" style="background-color: {{ carouselItem.bgcolor }}" href="{{ carouselItem.href }}">
                                {% if carouselItem.image %}
                                    <img src="{{ carouselItem.image|media }}" />
                                {% else %}
                                    {{ carouselItem.content|raw }}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() {
                        var elems = document.querySelectorAll('.carousel');
                        var options = {
                            {{ carousel.options }}
                        };
                        var instances = M.Carousel.init(elems, options);
                    });
                </script>

            {% endfor %}
        </div>
    </div>
</section>