==
function onStart() {
    $this['baseUrl'] = app('config')->get('app.url');
}
==
<meta charset="UTF-8">
<base href="{{ baseUrl }}" />
<title>October CMS - {{ this.page.title }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="OctoberCMS">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="OctoberCMS">
<link href="{{ ['assets/scss/materialize.scss']|theme }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% styles %}
