title = "Startseite"
url = "/"
layout = "1col"
description = "Start page"
is_hidden = 0

[Collections]
==
<h1>{{ this.page.title }}</h1>

<section class="section" id="home-main">
    <div class="flow-text">
        {% content 'home/content.htm' %}
    </div>
    {% component 'Collections' %}
</section>

{% partial 'elements/floatingActionButton' %}