title = "Parallax"
url = "/parallax"
layout = "1col-fluid"
description = "Here parallax scrolling is tested with full-width content"
is_hidden = 0
==
<div class="section gray lighten-2">
    <div class="row container flow-text">
        <h1 class="header">{{ this.page.title }}</h1>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{{ 'standard/parallax/parallax.jpg'|media }}"></div>
</div>
<div class="section white">
    <div class="row container flow-text">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">{{ 'Parallax ist ein Effekt, der Hintergrundbilder mit vom Content abweichender Geschwindigkeit scrollen lässt.'|_ }}</p>
    </div>
</div>
<div class="divider"></div>
<div class="section indigo lighten-5">
    <div class="row container flow-text">
        {% content 'parallax/parallax.htm' %}
    </div>
</div>
<div class="divider"></div>