title = "Sidebar-Seite"
url = "/sidebar-seite"
layout = "2col-10-2"
description = "Test of some sidebar pages"
is_hidden = 0

[viewBag]
localeUrl[en] = "/sidebar-page"
==
<div>
    <h1>{{ this.page.title }}</h1>
    {% content 'sidebar-page/content.htm' %}
</div>