title = "Typografie"
url = "/typografie"
layout = "1col"
description = "A page to illustrate typographic options in this theme"
is_hidden = 0

[viewBag]
localeUrl[en] = "/typography"

[Collections]

[CardList]

[Carousels]
==
<h1>{{ this.page.title }}</h1>
<div>
    <h2>{{ 'Materialize Komponenten'|_ }}</h2>
    <h3>{{ 'Karten'|_ }}</h3>
    {% component 'CardList' %}
    <h3>{{ 'Sammlungen'|_ }}</h3>
    {% component 'Collections' %}
    <h3>{{ 'Bilderkarusell'|_ }}</h3>
    {% component 'Carousels' %}
</div>