[MainMenu]
==
<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                {% partial 'MainMenu::blank' linkClasses="grey-text text-lighten-3" %}
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</div>