[MainMenu]
==
<ul id="locale-picker" class="dropdown-content">
    {% partial 'elements/localepicker' %}
</ul>
<nav>
    <div class="nav-wrapper container">
        <div class="row">
            <div class="col s12">
                <a href="" class="brand-logo">
                    <img src="{{ 'assets/images/dummyLogo.png'|theme }}" />
                </a>
                {# - Locale picker dropdown - #}
                <ul class="right">
                    <li><a class="dropdown-trigger" href="#" data-target="locale-picker">{{ localePicker.activeLocaleName }}<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% partial 'MainMenu::blank' %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    {% partial 'MainMenu::blank' %}
</ul>