<nav>
    <div class="nav-wrapper container">
        <a href="" class="brand-logo">Logo</a>
        <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% for item in __SELF__.menu %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    {% for item in __SELF__.menu %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>