.contact {
  margin-top: $element-top-margin;
  .contact-header {
    font-size: $h6-fontsize;
    text-align: center;
    border-bottom: 1px solid silver;
  }
  .contact-body {
    font-size: $label-font-size;
    ul {
      li {
        a {
          margin-right: 3px;
        }
      }
    }
  }
}