.flow-text{
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
      h1 {
        font-size: $h1-fontsize * (1 + (.02 * $i));
      }
      h2 {
        font-size: $h2-fontsize * (1 + (.02 * $i));
      }
      h3 {
        font-size: $h3-fontsize * (1 + (.02 * $i));
      }
      h4 {
        font-size: $h4-fontsize * (1 + (.02 * $i));
      }
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}