// Color overrides
$primary-color: color("indigo", "lighten-2");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("teal", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");

// Paddings, margins, font-sizes etc.
$padding-container: 20px;


// Header
header {
  z-index: 99;
}


// Navigation
nav {
  @extend .z-depth-2;
}

nav .brand-logo {
  position: relative;
  height: 100%;
}

nav .brand-logo img {
  position: relative;
  height: 100%;
}


// Footer at bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  @extend .z-depth-1
}


// Layout containers
.main-container {
  padding: $padding-container;
}


// Headings
h1.section-header {

}