<section>
    <div class="row">
        <div class="col m12">
            {% for collection in __SELF__.currentPageCollectionList %}
                <div class="collection-container">

                {% if collection.type == 'Basic' %}
                    <ul class="collection{{ collection.header ? ' with-header' : '' }}">
                        {% if collection.header %}<li class="collection-header"><h4>{{ collection.header }}</h4></li>{% endif %}
                        {% for collectionItem in collection.collectionItems %}
                            <li class="collection-item">{{ collectionItem.title }}</li>
                        {% endfor %}
                    </ul>

                {% elseif collection.type == 'Links' %}
                    <ul class="collection{{ collection.header ? ' with-header' : '' }}">
                        {% if collection.header %}<li class="collection-header"><h4>{{ collection.header }}</h4></li>{% endif %}
                        {% for collectionItem in collection.collectionItems %}
                            <a href="{{ collectionItem.link_url }}" class="collection-item">{{ collectionItem.title }}</a>
                        {% endfor %}
                    </ul>

                {% elseif collection.type == 'Secondary' %}
                    <ul class="collection{{ collection.header ? ' with-header' : '' }}">
                        {% if collection.header %}<li class="collection-header"><h4>{{ collection.header }}</h4></li>{% endif %}
                        {% for collectionItem in collection.collectionItems %}
                            <li class="collection-item"><div>{{ collectionItem.title }}<a href="{{ collectionItem.secondary_action }}" class="secondary-content"><i class="material-icons">{{ collectionItem.secondary_icon }}</i></a></div></li>
                        {% endfor %}
                    </ul>

                {% elseif collection.type == 'Avatar' %}
                    <ul class="collection{{ collection.header ? ' with-header' : '' }}">
                        {% if collection.header %}<li class="collection-header"><h4>{{ collection.header }}</h4></li>{% endif %}
                        {% for collectionItem in collection.collectionItems %}
                            <li class="collection-item avatar">
                                <i class="circle">
                                    {% partial 'elements/image' image=''~collectionItem.avatar_image caption='Etwas Fingerfood' width='150px'%}
                                </i>
                                <span class="title">{{ collectionItem.title }}</span>
                                {{ collectionItem.avatar_content }}
                                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <ul class="collection{{ collection.header ? ' with-header' : '' }}">
                        {% if collection.header %}<li class="collection-header"><h4>{{ collection.header }}</h4></li>{% endif %}
                        {% for collectionItem in collection.collectionItems %}
                            <li class="collection-item">{{ collectionItem.title }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
</section>