<div class="row">
    <div class="col-lg-12">
        <div class="p-x-md">
            <h1>DP Webentwicklung: Standard-Komponenten</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="p-a-md">
            <div class="bg-p w-full m-x-auto p-y-md dp-overview_main-button">
                <a href="cards">
                    <i class="icon-file icon-5x"></i><br/>
                    Cards
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="p-a-md">
            <div class="bg-p w-full m-x-auto p-y-md dp-overview_main-button">
                <a href="collection">
                    <i class="icon-sitemap icon-5x"></i><br/>
                    Collections
                </a>
            </div>
        </div>
    </div>
</div>
