description = "Two column layout, left sidebar"
[localePicker]
forceUrl = 0
==
function onStart()
{
$this->addJs('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js');
$this->addJs('assets/js/materialize.min.js');
$this->addJs('assets/js/initPlugins.js');
}
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'meta/head' %}
</head>
<body>

<header>
    {% partial 'site/header' %}
</header>

<main class="container">
    <div class="row">
        <div class="col-m2">
            {% placeholder sidebar %}
        </div>
        <div class="col m10">
            {% page %}
        </div>
    </div>
</main>

<footer class="page-footer">
    {% partial 'site/footer' %}
</footer>

{% scripts %}

{% framework %}

</body>
</html>