<section>
    <div class="row">
        {% for card in __SELF__.currentPageCardList %}
            <div class="col m6 l4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ card.title }}</span>
                        <p>{{ card.content }}</p>
                    </div>
                    <div class="card-action">
                        {{ card.link|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>