.dp-overview_main-button {
  text-align: center;
}

.dp-overview_main-button a {
  color: #CCCCCC;
  font-size: 16pt;
  line-height: 32pt;
  font-weight:bold;
}

.dp-overview_main-button a:hover {
  color: #EEEEEE;
  text-decoration: none;
}