<h2>Parallax Content</h2>
<p>Das hier ist noch etwas mehr Content, damit man die Effekte des Parallax-Scrollings gut beobachten kann. Das Hintergrundbild bewegt sich beim vertikalen Scrollen langsamer als der Content, wodurch ein starker Eindruck von Dreidimensionalit&auml;t entsteht. Sch&ouml;ne Hintergrundbilder sind wichtig, um den gew&uuml;nschten Effekt zu erzielen. Man sollte pr&uuml;fen, ob das Parallax-Scrolling nicht zu viel Chaos erzeugt und den Benutzer irritiert. Falls jedoch nicht, ist Parallax-Scrolling ein sch&ouml;ner Schritt hin zu einer modernen Responsive Website.</p>