<div class="contact blue lighten-5 z-depth-1">
    <div class="contact-header">
        {{ 'Kontakt'|_ }}
    </div>
    <div class="contact-body">
        <ul>
            <li class="valign-wrapper"><a href="javascript:linkTo_UnCryptMailto('nbjmup;ebwjeqfufs2448Ahnbjm/dpn');"><i class="material-icons">mail_outline</i></a>davidpeter1337@gmail.com</li>
            <li class="valign-wrapper"><a href="tel:+491772771324"><i class="material-icons">call</i></a>+49 177 277 13 24</li>
        </ul>
    </div>
</div>