<div class="fixed-action-btn">
    <a class="btn-floating btn-large indigo">
        <i class="large material-icons">account_circle</i>
    </a>
    <ul>
        <li><a class="btn-floating red" href="javascript:linkTo_UnCryptMailto('nbjmup;ebwjeqfufs2448Ahnbjm/dpn');"><i class="material-icons">mail_outline</i></a></li>
        <li><a class="btn-floating yellow darken-1" href="tel:+491772771324"><i class="material-icons">call</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">comment</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">bookmark</i></a></li>
    </ul>
</div>