{% for code, name in localePicker.locales %}
    <li><a href="#" data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'" {{ code == activeLocale ? 'active' }}>{{ name }}</a></li>
{% endfor %}